body {
    font-family: 'Open Sans', sans-serif;

    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

/*
### Primary

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)

*/

/*HEADER*/
/*.............................................................*/
/*.............................................................*/
/*.............................................................*/

header {
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 3% 10% 10% 10%;

}
header a:first-of-type{
    text-decoration: none;
    color: hsl(0, 100%, 63%);
    border: 1px solid hsl(0, 100%, 63%);
    padding: 0.3% 3%;
    border-radius: 15px;
    position: absolute;
    right: 1%;
    box-sizing: border-box;
    margin-top: 1%;
    margin-right: 21%;
}
@media screen and (max-width:847px) {
    header a:first-of-type {
        margin-right: 3%;
    }
}
header a:first-of-type:hover{
    color: hsl(321, 100%, 78%);
    border: 1px solid hsl(321, 100%, 78%);
}

@media screen and (max-width:870px) {
    .header a:last-of-type {
        padding: 3% 12%;    
    }
}
header img {
    position: absolute;
    left: 1%;
    margin-left: 22.8%;
    margin-top: 0.6%;
}
@media screen and (max-width:847px) {
    header img {
        margin-left: 3%;
    }   
}
@media screen and (max-width:456px) {
    header img {
        width: 30%;
        margin-top: 1%;
    }
    
}

header h1 {
    margin-top: 15%;
    color: rgba(0, 0, 0, 0.699);
    font-weight: 700;
}
@media screen and (max-width:480px) {
    header h1 {
        font-size: 1.6em; 
        margin-top: 40%;   
    }
    
}
header p {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    line-height: 26px;
}
@media screen and (max-width: 650px) {
    header p {
        width: 100%;
        margin-bottom: 15%;
    }
    
}


header a:last-of-type {

    text-decoration: none;
    background-color:hsl(322, 100%, 66%);
    padding: 1.5% 8%;
    border-radius: 35px;
    color: white;
}
header a:last-of-type:hover{
    background-color: hsl(321, 100%, 78%);   
}

/*BODY.......................................................
.............................................................
.............................................................*/


.prvy_pic {
    width: inherit;
    margin: 0 auto;
}
.prvy_pic img{
    margin: 0 auto;
    display: block;
    width: 50%;
}
@media screen and (max-width:870px) {
    .prvy_pic img {
        width: 80%;
    }
}

/*CISLA V BODY*/
.cisla {
    position: relative;
    margin-top: 12%;
    text-align: center;
}
.cisla h2{
    font-size: 5.2em;
    margin-bottom: 0;
    margin-top: -10px;
}
.cisla p{
    margin-top: 0;
    color: rgba(0, 0, 0, 0.479);
}
.prve_cislo{
    display: inline-block;
    padding-right: 20%;
}
.prve_cislo img {
    position: relative;
    left: -42%;
}
.druhe_cislo{
    display: inline-block;
}

/*MEDIA QUERIES FOR THIS SHITTY SHIT :D */

@media screen and (max-width:850px) {
    .prve_cislo img {
        position: relative;
        left: -35%;
    }
    .druhe_cislo img {
        position: relative;
        left: -38%;
    }
    
}
@media screen and (max-width:630px) {
    .prve_cislo {
        display: inline-block;
        margin-left: 14%;


    }
    .prve_cislo img {
        left: -43%;
    }

}



/*COMUNITA CAST*/

.comunita{
    width: inherit;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0 5%;

}

/* .prva_comunita p,
.druha_comunita p,
.tretia_comunita p{
    width: 50%;

} */
/*PRVA_COMUNITA*/

.prva_comunita{
    position: relative;
    margin-bottom: 35%;
}
.prva_comunita h3 {
    display: inline-block;
    position: relative;
    left: 22%;
}
.prva_comunita p {
    width: 27%;
    position: relative;
    left: 22%;
}

.prva_comunita img{
    position: absolute;
    width: 30%;
    left: 50%;
    top:-70%;

}

/*MEDIA QUERIES LEN NA JEDEN PIC FUCK THAT PRVA COMINUTA*/

@media only screen and (max-width: 1554px) {
    .prva_comunita img {
        top: -60%;
    }  
}
@media only screen and (max-width: 1260px) {
    .prva_comunita img {
        top: -30%;
    }  
}
@media only screen and (max-width: 1000px){
    .prva_comunita img {
        top: -10%;
    }
}
@media only screen and (max-width: 850px){

    .prva_comunita img{
        position: unset;
        width: 100%;
    }
    .prva_comunita h3{
        display: block;
        text-align: center;
        left: 0;
    }
    .prva_comunita p{
        text-align: center;
        width: 100%;
        left: 0;
    }
}


/*DRUHA COMUNITA*/
.druha_comunita{
    position: relative;
    margin-bottom: 35%;
}
.druha_comunita img{
    width: 30%;
    margin-left: 22%;
}
 /* .druha_comunita h3{
    position: absolute;
    top: 29%;
    right: 25.8%;
} */
 .druha_comunita p{
    width: 60%;
    position: relative;
}
.d_c_pismo {
    position: absolute;
    top: 36%;
    right: -5%;
    width: 48%;

}
/*MEDIA QUERIES LEN NA JEDEN PIC FUCK THAT DRUHA COMUNITA*/
@media only screen and (max-width:1260px) {
    .d_c_pismo {
        top: 20%;
    } 
}

@media only screen and (max-width: 850px) {
    .druha_comunita img {
        width: 100%;
        margin-left: 0;
    }
    .d_c_pismo {
        position: unset;
        width: 100%;
        text-align: center;
    }
    .d_c_pismo p{
        width: 100%;
    }
}


/*TRETIA_COMUNITA*/
.tretia_comunita{
    position: relative;
    margin-bottom: 20%;
}
.tretia_comunita h3 {
    display: inline-block;
    position: relative;
    left: 22%;
}
.tretia_comunita p {
    width: 27%;
    position: relative;
    left: 22%;
}
.tretia_comunita img{
    position: absolute;
    width: 30%;
    left: 50%;
    top:-70%;
}

/*MEDIA QUERIES LEN NA JEDEN PIC FUCK THAT tretia COMINUTA*/

@media only screen and (max-width: 1554px) {
    .tretia_comunita img {
        top: -60%;
    }  
}
@media only screen and (max-width: 1260px) {
    .tretia_comunita img {
        top: -30%;
    }  
}
@media only screen and (max-width: 1000px){
    .tretia_comunita img {
        top: 10%;
    }
}
@media only screen and (max-width: 850px){

    .tretia_comunita img{
        position: unset;
        width: 100%;
    }
    .tretia_comunita h3{
        display: block;
        text-align: center;
        left: 0;
    }
    .tretia_comunita p{
        text-align: center;
        width: 100%;
        left: 0;
    }
}


/*POD_FOOTER*/

.pod_footer{
    text-align: center;
    margin-bottom: 15%;
    position: relative;
    
}
@media screen and (max-width:685px) {
    .pod_footer {
        padding: 0 5%;
        font-size: 0.9em;
    }
    
}
.pod_footer h3{
    font-size: 2.4em;
}
.pod_footer a{
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 18px 55px;
    border-radius: 25px;
}
.pod_footer a:hover{
    background-color: hsl(321, 100%, 78%); 
}
footer img{
    width: 110.2%;
    position: relative;
    left: -62px;
}


/*FOOTER*/

.footer {
    background-image: url(img/xxx.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-x: 65%;
    background-size: 100%;
    position: relative;
    height: 580px;
    padding: 0 5%;

}
.footer img{
    width: 25%;
    padding-left: 63px;
}
.footer p,
.footer h2{
    width: 35%;
    color: white;
}

.footer_left_side {
    position: relative;
    top: 30%;
    left: 10%;
    display: inline-block;
    width: 50%;
}
.footer_left_side img{
    filter: invert(93%) sepia(76%) saturate(6354%) hue-rotate(180deg) brightness(109%) contrast(103%);
    
}

.footer_left_side p{
    width: 40%;
}


.footer_right_side {
    position: relative;
    left: 10%;
    top: 18%;
    display: inline-block;
    width: 40%;

}
.footer_right_side h2{
    margin-top: 0;
}

.phone {
    position: relative;
    top: 30px;
}
.phone img{
    width: 2%;
    filter: none;
}
.phone p {
    position: relative;
    left: 40px;
    top: -42px;
}

.mail {
    position: relative;
    margin-bottom: 5%;
}
.mail img{
    width: 2%;
    filter: none;
}
.mail p {
    position: relative;
    left: 40px;
    top: -42px;
    margin-bottom: -15px;

}


.stranky {
    color: white;
}
.stranky i {
    margin-right: 1.5%;
    font-size: 40px;
}

.email2 {
    padding: 13px 0 13px 10px;
    width: 285px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    
}
.submit {
    margin-left: 3%;
    font-size: 20px;
    padding: 11px 18px;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 5px;
}

.submit:hover {
    background-color: hsl(321, 100%, 78%); 
    cursor: pointer;
}

/*MEDIA  QUEIRES FOR FOOTER*/

@media screen and (max-width:1368px) {
    .footer_right_side {
        top: 11%;
    }
    .footer_right_side p {
        width: 60%;
    }
}
@media screen and (max-width:1247px) {
    footer {
        display: none;
    }

    
}



.pod_pod_footer{
    padding: 0 5%;
    background-color: #00252e;
}
.kurva_jedna {
    display: none;
}
.kurva_jedna h2 {
    color: white;
    padding-top: 10%;
}
.form_2 {
    margin-bottom: 15%;
    width: 100%;
}
.submit {
    margin-left: 0;
    margin-top: 3%;
}

.kurva_jedna img {
    filter: invert(93%) sepia(76%) saturate(6354%) hue-rotate(180deg) brightness(109%) contrast(103%);
}
.kurva_jedna p {
    color: white;
}
.phone img,
.mail img {
    filter: none;
    width: 1em;
}



@media screen and (max-width:1247px) {
    .kurva_jedna {
        display: unset;
    }
    
}








